$color-primary: #D9592F;
$border-primary:rgb(181, 181, 181);

@font-face {
    font-family: Helvetica-bold;
    src: url(../fonts/HelveticaNeueBold.otf);
}

@font-face{
    font-family: Helvetica-medium;
    src:url(../fonts/HelveticaNeueMedium.otf)
}

@font-face{
    font-family: Helvetica-light;
    src: url(../fonts/HelveticaNeueLight.otf);
}

@font-face{
    font-family: Helvetica-thin;
    src: url(../fonts/HelveticaNeueThin.otf)
}

$helevetica-medium:Helvetica-medium;
$helevetica-light:Helvetica-light;
$helevetica-thin:Helvetica-thin;
$helevetica-bold:Helvetica-bold;

.about_container{

    // banner begins here...
    .about_banner{
        width: 100%;
        height: 70svh;
        overflow: hidden;
        position: relative;

        img{
            width: inherit;
            height: inherit;
            object-fit: cover;
        }

        .overlay{
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top,black,transparent);
            position: absolute;
            top: 0;
        }
    }

    //content begins here...
    .container{
        width: 90%;
        margin: 0 auto;
        margin-top: 5%;

        .intro_content{
            display: flex;

            .flex{
                &:nth-child(1){
                    width: 40%;
                }

                &:nth-child(2){
                    width: 60%;
                }
            }
        }
    }

    .mid_content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;


        .mid_content_text{
           width: 50%; 
           height: 60dvh;
            
            p{
                font-size: 1.4rem;
                line-height: 30px;
               
            }

        }

        .mid_content_img{
            width: 50%;
         


            img{
                width: 100%;
                height: 70dvh;
            
            }
        }

    }

    .content_deteils{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;

        .deteils_on_vision{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            

           .vision_text{
            h1{
                text-align: center;
            }
           }

           .border_line1{
                p{
                    border-left: 1px solid grey;
                    height: 65dvh;
               }
        
             }

        }


       
        .deteils_on_values{
            width: 30%;
        }

        

       
        .deteils_on_mission{
            width: 30%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .vision_text{
                margin-left: 30px;
                h1{
                    text-align: center;
                }
            }
    
               .border_line2{


                    h1{
                        border-left: 1px solid grey;
                        height: 68dvh;
                   }
            
                 }
        }

        // .border_line2{
        //     width: 2%;
        //     background-color: #D9592F;
        //     h1{
        //         border-right: 1px solid gray;
        //         width: 2%;
        //         height: 40dvh;
        //     }
        // }

    }

    h1{
        font-size: 40px;
        margin-top: 120px;
    }
}